{% extends 'base.html' %}
 {% load static%}
 {%block content%}
 <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">

<p class="para"><b><Strong>About Us</Strong></b></p>
 <section>
 <div class="container mt-5 pt-5">
	<div class="card">
		<div class="card-body" style="font-family: Georgia, 'Times New Roman', Times, serif;">
	<p>Free Courses an education app, where you get many paid courses with certificates for free including udemy, Coursera and google. After enhancing your skills through Free course, you can also enrol for Paid internship and Free Online workshops. After the enrollment in the courses, you have access to lifetime for videos. It is the platform that is free for everyone and anyone can increase their skills in their particular field.</p>
	
	<p class="p-4">We update our course list regularly so you will receive daily fresh courses for enhancing your knowledge.</p>
	
	
	<p class="p-4">Our Mission is every student should be able to learn new skills daily without wasting money.</p>
	
	
	<ol class="m-3"><strong>Features:</strong>
	
	
	<li class="m-3">Multilingual – Learn any programming languages in English & hindi</li>
	
	<li class="m-3">Best way to learn new skills.</li>
	
	<li class="m-3">Diploma/Certificate for Engineers</li>
	
	<li class="m-3">Online Internship Certificate with Paid Internships | Summer Internships</li>
	
	<li class="m-3">Learn Foreign Language by international instructors</li>
	
	<li class="m-3">Enrol in Online workshops daily.</li>
	
	<li class="m-3">24/7 support team.</li>
	</ol>
</div>
</div>
	<div class="card card-sm col-3">
		<div class="card-header">Rajkumar</div>
		<div class="card-body"><p>This is the website about the pics,gallery about the memories of his friends</p></div>
	</div>
</div>
</section>
{%endblock content%}