{% load static %}

<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

 </head>

<body>
	<div class="container-sm">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background:linear-gradient(to right,darkslategrey,dimgrey);">
			<a href="{% url 'home' %}"><h5 class="navbar-brand text-warning mr-auto">Free</h5></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="menu">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link text-light"  href="{% url 'home' %}">Home</a>
				</li>
				<li class="nav-item dropdown">
					 <a class="nav-link dropdown-toggle text-light" href="/categories/" data-toggle="dropdown">Categories </a>
					  <ul class="dropdown-menu">
						<li class="dropdown-item "><a class="dropdown-link " href="{% url 'Categories/courses'%}">Free online course</a><li>
						<li class="dropdown-item"><a class="dropdown-link" href="{% url 'Categories/Jobs'%}">Jobs</a></li>
						<li class="dropdown-item"><a class="dropdown-link" href="{% url 'Categories/Udemy'%}">Udemy Free courses</a></li>
					  </ul>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" href="{% url 'contact' %}">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" href="{%url 'about' %}">About</a>
				</li>
				<form class="navbar-form navbar-left" action="/action_page.php">
					<div class="input-group">
					  <input type="text" class="form-control" placeholder="Search" name="search">
					  <div class="input-group-btn">
						<button class="btn btn-default bg-light" type="submit">
						  <i class="fa fa-search"></i>
						</button>
					  </div>
					</div>
				  </form>
			</ul>
			<script type="text/javascript">
				$(document).on('click','ul li',function(){
					$(this).addClass('active').siblings().removeClass('active')
				})
			</script>
			</div>
		</nav>
	</div>
	<div class="container-fluid-sm"><img src="{% static 'images/cover.jpg' %}" height="500px" width="1350px"class="responsive"></div>
	
	
	{%block content%}
	
	{%endblock content%}
<div class="container-fluid-sm mt-4 bg-dark">
	<footer>
	<div class="row" style="color:bisque">
		<div class="col-md-4 pl-3 pt-5 text-center">
			<p>&nbsp Contact us:</p>
			<p>&nbsp Email : freecoursejoiner@gmail</p>
			<p>&nbsp call us: +91 8790050465 </p>	
		</div>

		<div class="col-md-4 pt-5">
			<ul style="font:bold" class="text-center">Important links</ul>
			<ul class="text-center">
					<a class="nav-link" style="color:bisque"  href="{% url 'home' %}">Home</a>
				<ul class="dropright">
					<a class="dropdown-toggle" style="color:bisque" href="/categories/" data-toggle="dropdown">Categories </a>
					<ul class="dropdown-menu text-center">
						<li><a class="dropdown-link " href="{% url 'Categories/courses'%}">Free online course</a><li>
						<li><a class="dropdown-link" href="{% url 'Categories/Jobs'%}">Jobs</a></li>
						<li><a class="dropdown-link" href="{% url 'Categories/Udemy'%}">Udemy Free courses</a></li>
					</ul>
				</ul>
					<a class="nav-link" style="color:bisque" href="{% url 'contact'%}">Contact</a>
					<a class="nav-link" style="color:bisque" href="{% url 'about' %}">About</a>
				<br>
			</ul>
			<br>
			</div>

			<div class="col-md-4 text-center pt-5">
				<p>
					follow us on:
				</p>
				<a href="" style="color:darksalmon" class="fa fa-instagram"></a>
				<a href="" style="color:aqua" class="fa fa-twitter"></a>
				<a href="" style="color:blue" class="fa fa-facebook"></a>
			</div>
		</div>  

		<p class="p-5 text-center" style="color:bisque">@copyright2021. All right reserved | powered by VASSAV Team</p>

	</footer>
</div>
</body>
</html>